:root{
    --background: rgb(73, 81, 111);
}

body{
    margin: 0px;
    background-color: var(--background);
}

header{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 180px;

    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;

    display: grid;
}

header h1{
    font-family: Treasuremap;
    font-size: 60px;
    
    margin: auto;
}

.pirate-icon1{
    grid-column: 1/2;
    padding: 15px;
}

.pirate-icon2{
    grid-column: 3/4;
    padding: 15px;
}

nav{
    height: 80px;

    text-align: center;

    display: flex;

    justify-content: center;
}

a{
    text-decoration: none;
    color: unset;
}

.button{
    font-family: Poppins-Light;
    color: white;
    font-size: larger;

    margin-left: 80px;
    margin-top: auto;
    margin-bottom: auto;

    transition: color 0.5s ease-in-out;
}
.button:hover{
    color: rgb(187, 187, 187);
}

.button div{
    transition: width 0.5s ease-in-out;
    height: 5px;
    width: 0%;
    margin: auto;

    background-color: whitesmoke;
}

.button:hover div{
    width: 100%;
}

@font-face {
    font-family: Poppins-Light;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/Bebas/Bebas-Regular.ttf");
}

@font-face {
    font-family: Treasuremap;
    src: url("../fonts/Pirate/Treasuremap.ttf");
}