h2{
    font-family: Bebas;
    transform: scale(10);
    color: rgb(149, 155, 179);
    text-shadow: 8px 8px rgb(94, 98, 114);

    margin: auto;

    position: relative;
    bottom: 100px;
}

#mes8{
    margin-right: 300px;
    margin-bottom: 100px;
}
#mes7{
    margin-right: 245px;
    margin-bottom: 100px;
}
#mes6{
    margin-right: 255px;
    margin-bottom: 100px;
}

#flex-container{
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-item{
    background-size: cover;
    background-position: center;

    border: 5px solid var(--background);

    display: flex;
    align-items: center; 
    justify-content: center;

    width: 200px;
    height: 300px;

    transition: 0.2s;

    position: relative;

    margin-top: 50px;
}
.flex-item:hover{
    border: 5px solid white;
}


.flex-item div{
    color: rgb(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    
    text-align: center;

    font-family: Poppins-Bold;
    font-size: large;
        
    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 1;
}

.flex-item:hover div{
    color: rgb(255, 255, 255, 1);
    backdrop-filter: blur(4px);
    background-color: rgb(0, 0, 0, 0.25);
}

.flex-item p{
    font-family: Poppins-Light;
    margin-left: 10px;
    margin-right: 10px;

    font-size: medium;
}


#flex-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1200px;

    margin: 0 auto;

    background-position: center;
    background-size: cover;
}

#item1{
    background-image: url("../images/Lançamentos/trem-bala.jpg");
}
#item2{
    background-image: url("../images/Lançamentos/tartarugas-ninjas.jpg");
}
#item3{
    background-image: url("../images/Lançamentos/45-do-2-tempo.jpg");
}
#item4{
    background-image: url("../images/Lançamentos/thor-amor-e-trovao.jpg");
}
#item5{
    background-image: url("../images/Lançamentos/fera-do-mar.jpg");
}
#item6{
    background-image: url("../images/Lançamentos/superpets.jpg");
}
#item7{
    background-image: url("../images/Lançamentos/tudo-ao-mesmo-tempo.jpg");
}
#item8{
    background-image: url("../images/Lançamentos/lightyear.jpg");
}
#item9{
    background-image: url("../images/Lançamentos/jurassic-world-dominio.jpg");
}