:root{
    --background: rgb(73, 81, 111);
    --navbg: rgb(100, 114, 163);
    --metadatac: rgb(96, 99, 112);
    --metadatabor: gray;
}

body{
    margin: 0px;
    background-color: var(--background);
}

header{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 180px;

    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;

    display: grid;
}

header h1{
    font-family: Treasuremap;
    font-size: 60px;

    margin: auto;
}

.pirate-icon1{
    grid-column: 1/2;
    padding: 15px;
    margin: auto;
}

.pirate-icon2{
    grid-column: 3/4;
    padding: 15px;
    margin: auto;
}

nav{
    height: 80px;

    text-align: center;

    display: flex;

    justify-content: center;

    background-color: var(--navbg);

    box-shadow: 0 8px 8px -8px;
}

a{
    text-decoration: none;
    color: unset;
}

.button{
    font-family: Poppins-Light;
    color: white;
    font-size: larger;

    margin-right: 40px;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;

    transition: color 0.5s ease-in-out;
}
.button:hover{
    color: rgb(187, 187, 187);
}

.button div{
    transition: width 0.5s ease-in-out;
    height: 5px;
    width: 0%;
    margin: auto;

    background-color: whitesmoke;
}

.button:hover div{
    width: 100%;
}

.button-dark-side{
    all: unset;
    cursor: pointer;

    font-family: Poppins-Light;
    font-size: larger;
    color: black;

    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 40px;

    font-size: larger;

    border: 2px solid;
    border-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 15px;

    position: absolute;
    left: calc(100% - 30vh);
}
.button-dark-side img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 1560px) {
    .button-dark-side {
        width: 40px;
        left: calc(100% - 7vh);
    }

    .button-dark-side img{
        margin-left: 0px;
    }

    .button-dark-side span{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    header{
        background-image: url("../images/banner.jpg");
        background-position: center;
        background-size: cover;

        height: 55px;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1{
        font-size: 30px;
    }
    
    .pirate-icon1{
        display: none;
    }
    
    .pirate-icon2{
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .button {
        font-size: 15px;
        margin: auto 10px auto;
    }
    .button-dark-side{
        color: black;

        background-color: white;
        width: 35px;
        height: 35px;

        border-radius: 100%;
    }
}

/* Fonts */

@font-face {
    font-family: Poppins-Light;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/Bebas/Bebas-Regular.ttf");
}

@font-face {
    font-family: Treasuremap;
    src: url("../fonts/Pirate/Treasuremap.ttf");
}

@font-face {
    font-family: Nunito-Variable;
    src: url("../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: Nunito-Variable-2;
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

/* Anúncios */

.anuncio{
    background-position: center;
    background-size: cover;

    border-radius: 8px;

    position: absolute;

    display: none;

    z-index: 2;
}

.anuncio1{
    background-image: url("../images/Pop-Ups/papagaio-do-picpay.jpg");
    width: 300px;
    height: 300px;
}

.anuncio2{
    background-image: url("../images/Pop-Ups/sorteio-pix.jpg");
    width: 500px;
    height: 300px;
}

.anuncio3{
    background-image: url("../images/Pop-Ups/whatsapp-flamengo.jpg");
    width: 300px;
    height: 300px;
}

.anuncio4{
    background-image: url("../images/Pop-Ups/cerveja-mandrac.jpg");
    width: 500px;
    height: 700px;
}

.anuncio5{
    background-image: url("../images/Pop-Ups/mito-chamagás.jpg");
    width: 400px;
    height: 520px;
}

.button-x{
    all: unset;

    cursor: pointer;

    float: right;

    background-image: url("../images/Pop-Ups/botao-x.png");
    background-size: contain;

    width: 25px;
    height: 25px;
}

.button-stop-ads{
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: 1px solid gray;

    cursor: pointer;

    text-align: center;

    height: 25px;
}
.button-stop-ads img{
    width: 10px;
    height: 10px;
    margin: auto;
    margin-left: 5px;
}

.button-pay{
    background-color: #3D8361;
    border-radius: 50px;

    border: 3px solid #3D8361;

    color: white;
    
    font-family: Nunito-Variable-2;
    font-size: xx-large;

    cursor: pointer;

    width: 400px;

    transition: border 0.2s ease-in-out;
}
.button-pay:hover {
    border: 3px solid #14473d;
}

.paywall{
    background-color: #EEF2E6;
    background-size: cover;
    background-position: center;

    border-radius: 8px;
    border: 5px solid #aaa381;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;

    width: 500px;
    height: 450px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: green;
    font-weight: bold;
}
.paywall img{
    margin: auto;
    width: 100px;
    height: 100px;

    margin-left: 15px;
}
.paywall p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Poppins-Bold;
}