:root {
    --india-green: #298911ff;
    --yellow-green-crayola: #D5DC90ff;
    --laurel-green: #A2B99Cff;
    --sheen-green: #7ECE15ff;
    --xanadu: #6A8776ff;
    --background: #A2B99Cff;
}

body {
    margin: 0;
}

nav {
    background-image: linear-gradient(135deg, var(--yellow-green-crayola), var(--india-green));
}

a {
    text-decoration: none;
    color: unset;
}
.active {
    background-color: rgb(92, 224, 125) !important;

    transition: background-color 0.5s ease-in-out;
}

li {
    all: unset;
}

li .dropdown {
    border-radius: 4px;
    background-color: rgb(92, 224, 125);

    transition: background-color 0.5s ease-in-out;
}

.dropdown:hover {
    background-color: rgba(92, 224, 125, 1);
}

.selection-container {
    display: flex;

    width: 100%;
    overflow: hidden;
}

.pvz-selection {
    width: 100%;
    height: 100vh;
    transform: skewX(-10deg);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition: width 0.7s ease-in-out, border 0.2s ease-in-out;
}
.pvz-selection:hover {
    width: 200%;
    border-left: 15px solid white;
    border-right: 15px solid white;
}

.pvz-selection .background {
    position: absolute;
    width: calc(100vh - 50%);
    height: 100%;

    object-fit: cover;

    transform: skewX(10deg) scale(2.1);/* Unskew (desvirar) */

    z-index: -1; /* Coloca atrás do logo */

    /* clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%); */
}
.pvz-selection:hover .background {
    animation: fade 0.7s ;
    opacity: 0;
}
@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.pvz-selection video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2; /* Coloca atrás do background */

    transform: skewX(10deg);

    object-fit: cover;
}

.pvz-selection .logo {
    width: 80%;

    transform: skewX(10deg);
}

#start-selection {
    margin-left: -100px; 
    padding-right: 100px;
}
#start-selection .logo {
    margin-left: 180px;
    width: 65%;
}

#end-selection {
    margin-right: -100px;
    padding-left: 100px;
}
#end-selection .logo {
    margin-right: 180px;
}