.flex-container{
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-items{
    display: flex;
    justify-content: center;

    flex-direction: row;
    width: 1200px;

    margin: 0 auto;

    background-position: center;
    background-size: cover;
}

h2{
    font-family: Poppins-Light;
    font-size: large;
    color: white;
    font-weight: lighter;

    text-align: center;
    margin-right: 1000px;
}

.botao-seta{
    all: unset;

    cursor: pointer;

    background-image: url("../images/Gêneros/seta-icone.png");
    background-size: contain;

    width: 17px;
    height: 10px;

    margin-left: 10px;
}

/* Item do filme */

.flex-item{
    background-size: cover;
    background-position: center;

    border: 5px solid var(--background);

    display: flex;
    align-items: center; 
    justify-content: center;

    width: 200px;
    height: 300px;

    transition: 0.5s ease-in-out;
}
.flex-item:hover{
    border: 5px solid white;
}

/* Fundo Escuro */

.flex-item div{
    color: rgb(255, 255, 255, 0);

    height: 100%;
    width: 100%;
    
    text-align: center;
    vertical-align: 10px;
    font-family: Poppins-Bold;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* Coisas do Video */

    position: relative;

    overflow: hidden;

    transition: 0.5s ease-in-out;

    z-index: 1;
}

.flex-item:hover div{
    color: rgb(255, 255, 255, 1);
}

/* Video */

.flex-item div video{
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    height: 100%;
    width: 100%;

    visibility: hidden;

    z-index: -1;
}

.flex-item:hover div video{
    visibility: visible;
    filter: brightness(50%);
}

/* Ação e Aventura */

#item1{
    background-image: url("../images/Gêneros/harry-potter-2.jpg");
}
#item2{
    background-image: url("../images/Gêneros/uncharted.jpg");
}
#item3{
    background-image: url("../images/Gêneros/harry-potter-7-part2.jpg");
}
#item4{
    background-image: url("../images/Gêneros/animais-fantasticos-3.jpg");
}
#item5{
    background-image: url("../images/Gêneros/9.jpg");
}

/* Ficção Científica */

#item6{
    background-image: url("../images/Gêneros/jurassic-park.jpg");
}
#item7{
    background-image: url("../images/Gêneros/volta-futuro-1.jpg");
}
#item8{
    background-image: url("../images/Gêneros/matrix.jpg");
}
#item9{
    background-image: url("../images/Gêneros/star-wars-3.jpg");
}
#item10{
    background-image: url("../images/Gêneros/star-wars-6.jpg");
}

/* Comédia */

#item11{
    background-image: url("../images/Gêneros/vida-de-brian.jpg");
}
#item12{
    background-image: url("../images/Gêneros/norbit.jpg");
}
#item13{
    background-image: url("../images/Gêneros/todo-mundo-em-pânico.jpg");
}
#item14{
    background-image: url("../images/Gêneros/ele-esta-de-volta.jpg");
}
#item15{
    background-image: url("../images/Gêneros/free-guy.jpg");
}

/* Drama */

#item16{
    background-image: url("../images/Gêneros/coringa.jpg");
}
#item17{
    background-image: url("../images/Gêneros/1917.jpg");
}
#item18{
    background-image: url("../images/Gêneros/lobo-wall-street.jpg");
}
#item19{
    background-image: url("../images/Gêneros/parasita.jpg");
}
#item20{
    background-image: url("../images/Gêneros/soldado-ryan.jpg");
}