/* -=-=-=-=-=-=-=-=-=-=-= Estrutura Padrão -=-=-=-=-=-=-=-=-=-=-=- */

/* Fonts */

@font-face {
    font-family: YakuzaFontTiny;
    src: url("../content/fonts/edosz-tiny.ttf") format("truetype");
}

@font-face {
    font-family: Descricao;
    src: url("../content/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

/* Layout */

header{
    background-color: #3C3C3C;

    height: 100px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

nav{
    background-color: #3C3C3C;

    height: fit-content;

    padding-top: 18px;

    text-align: center;
}

a{
    color: inherit;
    text-decoration: inherit;
}

/* Botão Padrão */

.botao_nav{
    opacity: 0.6;

    width: auto;
    height: 40px;

    border-radius: 8px;

    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: YakuzaFontTiny;
    color: whitesmoke;


    line-height: 40px;
    font-size: large;

    display: inline-block;

    text-align: center;
    vertical-align: top;

    transition: 0.3s;
}

.botao_nav:hover{
    opacity: 1;
}

/* Buttons Individual */

#botao_y0{
    background: url("../content/images/botoes/botao-y0.jpg");
    background-size: cover;
}

#botao_yk{
    background: url("../content/images/botoes/botao-yk.jpg");
    background-size: cover;
}

#botao_yk2{
    background: url("../content/images/botoes/botao-yk2.jpg");
    background-size: cover;   
}

#botao_tyrc{
    background: url("../content/images/botoes/botao-tyrc.jpg");
    background-size: cover; 
}

#botao_y6tsol{
    background: url("../content/images/botoes/botao-y6tsol.jpg");
    background-size: cover; 
}

#botao_ylad{
    background: url("../content/images/botoes/botao-ylad.jpg");
    background-size: cover; 
}

#botao_sa{
    background: url("../content/images/botoes/botao-sa.jpg");
    background-size: cover;
}

#botao_voltar_topo{
    background-color: gray;
    width: fit-content;

    position: relative;
    top: -10px;

    display: block;
    margin: 0 auto;
}

/* Body */

body{
    background-image: url("../content/images/home-fundo.jpg");

    background-attachment: fixed;
    background-size: auto;
}

#divisao{ /* Barra entre o header e o nav */
    height: 8px;

    border-style: none;

    background-color: gray;
}

#janela_principal{
    background-color: #202020;

    height: fit-content;
    width: 1400px;

    display: block;
    margin: 0 auto;

    border-radius: 8px;
}

#logo_header{
    height: 80px;
    
    display: block;

    margin: 0 auto;

    position: relative;
    top: 10px;
}


/* -=-=-=-=-=-=-=-=-=-=-= Página Principal -=-=-=-=-=-=-=-=-=-=-=- */


/* Seleção Padrão */

.selecao{
    color: whitesmoke;

    height: fit-content;
    width: fit-content;

    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 60px;

    border-radius: 10px;

    transition: ease-in-out 1s;
}

.selecao:hover{
    transform: scale(1.05);
}

/* Seleção Individual */

#selecao_y0{
    background: linear-gradient(rgba(88, 116, 151, 0.6), rgba(63, 106, 247, 0.6)), url("../content/images/selecoes/fundos/y0-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#selecao_yk{
    background: linear-gradient(rgba(151, 151, 151, 0.6), rgba(13, 13, 13, 0.6)), url("../content/images/selecoes/fundos/yk-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#selecao_yk2{
    background: linear-gradient(rgba(34, 47, 30, 0.6), rgba(13, 13, 13, 0.6)), url("../content/images/selecoes/fundos/yk2-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#selecao_tyrc{
    background: url("../content/images/selecoes/fundos/tyrc-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#selecao_y6tsol{
    background: linear-gradient(rgba(243, 137, 99, 0.2), rgba(190, 71, 71, 0.2)), url("../content/images/selecoes/fundos/y6tsol-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#selecao_ylad{
    background: linear-gradient(rgba(242, 171, 39, 0.4), rgba(205, 59, 6, 0.4)), url("../content/images/selecoes/fundos/ylad-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Seleção Resumo */

.resumo{
    font-family: Descricao;
    font-size: x-large;
    font-style: italic;

    text-align: center;

    width: 1000px;
    height: 120px;

    margin: 0 auto;
}

/* Seleção Imagem */

.imagem_de_selecao{
    display: block;

    margin: 0 auto;
}

.imagem_sa{
    display: block;

    margin: 0 auto;

    margin-top: 20px;
}