body {
    background-image: url("../images/Creditos/creditos-background.png");
    overflow: hidden;
    position: fixed;

    display: flex;
    justify-content: center;

    width: 100%;
    margin: 0;
}

h1 {
    font-weight: lighter;
    margin-top: 80px;
}

#creditos {
    width: 800px;
    
    font-family: Mine;
    color: white;
    text-shadow: 3px 3px #525252;

    display: flex;
    justify-content: center;
    flex-direction: column;

    animation: subindo 80s linear;
}

#title {
    width: 750px;
    margin: auto;

    margin-bottom: 300px;
}

#fim {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;

    position: absolute;
    z-index: 9999;
}

@font-face {
    font-family: Mine;
    src: url("../fonts/Minecraft.ttf");
}

@keyframes subindo {
    0% {position: relative; top: 100vh}
    100% {position: relative; top: -440vh}
}
@keyframes fim {
    0% {opacity: 0;}
    100% {opacity: 1;}
}